<nav class="h-100vh w-296px d-flex flex-column justify-content-between bg-gray-100 py-8 px-8">
  <div>
    <a class="d-block mb-7" href="index.html">
      <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
    </a>
    <ul>
      <li class="mb-8">
        <a class="d-flex align-items-center" href="#">
          <span class="material-icons-outlined me-4">
            assessment
          </span>
          <span class="fw-bold">
            Dashboard
          </span>
        </a>
      </li>
      <li class="mb-8">
        <a class="d-flex align-items-center" href="#">
          <span class="material-icons-outlined me-4">
            question_answer
          </span>
          <span class="fw-bold">
            Question
          </span>
        </a>
      </li>
      <li class="mb-8">
        <a class="d-flex align-items-center" href="#">
          <span class="material-icons-outlined me-4">
            video_library
          </span>
          <span class="fw-bold">
            Assignment
          </span>
        </a>
      </li>
      <li class="mb-8">
        <a class="d-flex align-items-center active" href="#">
          <span class="material-icons-outlined me-4">
            supervisor_account
          </span>
          <span class="fw-bold">
            Admin
          </span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center" href="#">
          <span class="material-icons-outlined me-4">
            settings
          </span>
          <span class="fw-bold">
            settings
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center">
    <img class="h-40px w-40px rounded-circle me-4" src="../assets/images/andychen.jpeg" alt="">
    <div>
      <p class="fw-bold mb-1">Andy Chen</p>
      <p class="text-gray-600 fs-7">andy0401@mail.com</p>
    </div>
  </div>
</nav>

